.root {
  border-radius: 100px;
  border: 1px solid var(--primary-dark);
  background: var(--white);
  color: var(--primary-dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;

  &.isActive {
    color: var(--white);
    background: var(--primary-dark);
  }
}
