.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 21px;

    .table_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }

    .table_content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .table_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
        border: 1px solid var(--border-gray);
        background: var(--bg-lighter);
        padding: 16px;

        .left {
          display: flex;
          gap: 24px;
          align-items: center;

          .icon {
            width: 50px;
            height: 50px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--primary-light-lighter);

            &.isWallet {
              background: var(--primary-light);
            }

            svg {
              color: var(--main-dark);
            }
          }
        }

        .amount.plus {
          color: var(--success)
        }
      }
    }
  }
}
