.wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    min-width: 360px;

    @media (max-width: 1343px) {
        min-width: 316px;
    }

    @media (max-width: 1024px) {
        flex-direction: column-reverse;
        margin-top: 32px;
    }

    @media (max-width: 364px) {
        min-width: 0;
    }

    .add_button {
        width: 100%;

        @media (max-width: 1024px) {
            width: 320px;
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .accounts,
    .accounts_list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        @media (max-width: 1024px) {
            width: 332px;
            align-self: flex-start;
        }

        @media (max-width: 380px) {
            width: 100%;
        }
    }

    .account_item {
        padding: 8px 13px;
        border-radius: 8px;
        border: 1px solid var(--border-gray);
        background: var(--bg-light);

        @media (max-width: 767px) {
            p {
                font-size: 16px;
            }
        }
    }

    .add_card {
        display: flex;
        align-items: center;
        gap: 16px;

        p {
            position: relative;
            text-align: left;
            text-decoration: underline;
        }

        & > div {
            width: 40px;
            height: 40px;
            padding: 8px;
            border-radius: 100px;
            background: var(--main);

            svg {
                color: var(--primary-light);
            }
        }
    }
}
