.root {
    border: none;
    background: none;
    padding: 0;
    border-radius: 100px;
    transition: 0.3s;

    &.default-size {
        padding: 0;
    }

    &.small {
        padding: 10px 24px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }

    &.large {
        padding: 13px 24px;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
    }

    &.light {
        background: var(--primary-light-lighter);
        color: var(--secondary-light);
    }

    &.dark {
        background: var(--secondary-light);
        color: var(--primary-light);
    }
}
