:root {
    --main: #3D3D3D;
    --main-dark: #201E1B;

    --primary-light-lighter: #FDF1DC;
    --primary-lighter: #FFF8EC;
    --primary-light: #F5CC82;
    --primary: #ffb021;
    --primary-dark: #DB9E2F;
    --primary-darker: #BE8317;

    --success: #0F9D58;

    --secondary-light: #353535;
    --secondary: #282828;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

button,
a {
    cursor: pointer;
}
