:root {
    --white: #ffffff;

    --main: #3d3d3d;
    --main-dark: #201e1b;

    --primary-light-lighter: #fdf1dc;
    --primary-lighter: #fff8ec;
    --primary-light: #f5cc82;
    --primary: #ffb021;
    --primary-dark: #db9e2f;
    --primary-darker: #be8317;

    --success: #0f9d58;

    --secondary-light: #353535;
    --secondary: #282828;

    --border-gray: #e1dcd0;

    --bg-lighter: #fdfdfd;
    --bg-light: #fffdfa;
    --bg-light-gray: #f8f6f1;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

button,
a {
    cursor: pointer;
}
